.header {
  border-bottom: 1px solid var(--border-color);
}

.header__wrapper {
  margin: 21px 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  display: flex;
  gap: 8px;
  align-items: flex-end;
}

.logo__title {
  margin: 0;
  color: var(--secondary-text-color);
}
