[tuiHeader] {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.book__description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.book__description-title {
  color: var(--secondary-text-color);
  font-weight: 700;
}

.book__wrapper {
  padding: 0 !important;
}
