.container {
	min-height: calc(100vh - 2 * var(--content-padding));
	position: relative;
}

.form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	display: flex;
	flex-direction: column;
	gap: var(--gap);

	.form__header {
		margin-bottom: 12px;
		align-self: center;
	}

	.form__button {
		margin-top: 12px;
	}
}
