<div class="banner__wrapper">
  <div class="container">
    <h2 tuiTitle="l">
      BookLab — Your Guide to the Literary World!

      <div tuiSubtitle>
        Discover, explore, and find your next favorite book with ease!
      </div>

      <tui-textfield iconStart="@tui.search" class="searchInput__wrapper">
        <input
          tuiTextfield
          [formControl]="searchValue"
          placeholder="Find your next favorite book..."
          class="searchInput inp"
        />
      </tui-textfield>
    </h2>
  </div>
</div>
