<div class="banner__wrapper" [style.background-image]="'url(' + imgUrl + ')'">
  <div class="container">
    <h2 tuiTitle="l" class="banner__heading">
      {{ heading }}

      <div tuiSubtitle class="banner__subtitle">{{ subtitle }}</div>

      @if (isSearchable) {
      <tui-textfield iconStart="@tui.search" class="searchInput__wrapper">
        <input
          [placeholder]="placeholder"
          tuiTextfield
          class="searchInput inp"
          [(ngModel)]="searchValue"
        />

        <button size="s" tuiButton class="searchInput__button btn" (click)="add()">Search</button>
      </tui-textfield>
      }
    </h2>
  </div>
</div>
