.banner__wrapper {
  height: 480px;
  background-image: url(/assets/images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -36px;

  .container {
    display: flex;
    height: 100%;
    padding: 24px 0;
  }
}

.searchInput__wrapper {
  width: 480px;
}

[tuiTitle],
[tuiSubtitle] {
  color: var(--white-color);
}

[tuiTitle] {
  align-self: flex-end;
}
