<div class="banner__wrapper" [style.background-image]="'url(' + imgUrl + ')'">
  <div class="container">
    <h2 tuiTitle="l">
      {{ heading }}

      <div tuiSubtitle>{{ subtitle }}</div>

      @if (isSearchable) {
      <tui-textfield iconStart="@tui.search" class="searchInput__wrapper">
        <input
          [placeholder]="placeholder"
          tuiTextfield
          class="searchInput inp"
          [(ngModel)]="searchValue"
        />

        <button [disabled]="searchValue.length === 0" size="s" tuiButton class="btn" (click)="handleSearchButtonClick()">Search</button>
      </tui-textfield>
      }
    </h2>
  </div>
</div>
