<div>
  <app-banner
    heading="BookLab — Your Guide to the Literary World!"
    subheading="Discover, explore, and find your next favorite book with ease!"
    placeholder="Find your next favorite book..."
    (changeSearchValue)="onBookSearchChange($event)"
  />

  <div class="container">
    @if (!isBooksLoading()) {
    <app-table
      [books]="books()"
      [length]="totalPages"
      [index]="currentPage() - 1"
      class="table__wrapper"
    />
    } @else {
    <tui-loader />
    }
  </div>
</div>
