@if(!isLoading) {
<table tuiTable>
  <thead>
    <tr>
      <th tuiTh>Title</th>
      <th tuiTh>Cover</th>
      <th tuiTh>Author</th>
      <th tuiTh>Rating</th>
      <th tuiTh>Publish year</th>
    </tr>
  </thead>

  <tbody tuiTbody>
    @for (book of books; track book.key) {
    <tr>
      <td tuiTd>
        {{ book.title }}
      </td>

      <td tuiTd>
        <img
          [src]="
            book.cover_edition_key
              ? 'https://covers.openlibrary.org/b/olid/' +
                book.cover_edition_key +
                '-M.jpg'
              : '/assets/images/not-found.png'
          "
          [alt]="book.title"
          width="128"
        />
      </td>

      <td tuiTd>
        @if (book.author_name) {
        {{ book.author_name.join(", ") }}
        }
      </td>

      <td tuiTd>
        @if (book.ratings_average) {
        {{ book.ratings_average }}
        }
      </td>

      <td tuiTd>
        @if (book.first_publish_year) {
        {{ book.first_publish_year }}
        }
      </td>
    </tr>
    }
  </tbody>
</table>

<tui-pagination
  [index]="index"
  [length]="length"
  (indexChange)="handlePaginationButtonClick($event)"
/>
} @else {
<tui-loader />
}
