[tuiTh],
[tuiTd] {
  border-inline-start: none;
  border-inline-end: none;
  font-family: Inter !important;
}

[tuiTh] {
  color: var(--secondary-text-color);
}

.notFound__text {
  color: var(--secondary-text-color);
}

.table__tr {
  cursor: pointer;
}
